
.page-footer {
    background-color: var(--footer-background-color);
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
    @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    &__socials {
        display: flex;
        gap: 20px;
        a {
            display: flex;
            align-items: center;
        }
    }
}