$card-size-reduced: 200px;
$card-size-enlarged: 500px;
$title_size: 40px;

@keyframes enlargeProjectCardContainer {
    to {
        width: $card-size-enlarged;
    }
}
@keyframes reduceProjectCardContainer {
    to {
        width:$card-size-reduced;
    }
}

.project-card {
    position: relative;
    overflow: hidden;
    flex: 1;
    max-width: $card-size-reduced;
    height: $card-size-enlarged;
    transition: all 300ms ease;
    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: $card-size-enlarged;
      &::after {
        content: "";
        border-top: solid 3px white;
        width: 100%;
      }
    }
    &:hover {
        flex: 2;
        max-width: $card-size-enlarged;
        transition-delay: 0s;
    }
    &:not(:hover) {
        transition-delay: 100ms ;
    }
    &:hover > &__summary {
        transform: translateY(0);
        transition-duration: 500ms;
        transition-delay: 500ms;
    }
    &:hover > &__thumb {
        filter: grayscale(0);
    }
    &__thumb {
        object-fit: cover;
        height: $card-size-enlarged;
        width: 100%;
        filter: grayscale(0.7);
    }
    &__summary, &__title {
        background-color: var(--project-card-background);
        color: var(--project-card-text);
        backdrop-filter: blur(5px);
        position: absolute;
    }
    &__summary {
        padding: 20px;
        width: calc(100% - $title_size);
        bottom: 0; left: $title_size;
        transform: translateY(100%);
        transition-property: transform;
        transition-timing-function: ease;
        transition-duration: 100ms;
        transition-delay: 0ms;
        text-align: right;
        @media screen and (max-width: 767px) {
            transform: unset;
        }
    }
    &__title {
        font-size: 1.3em;
        font-family: "speculum";
        transform-origin: left top;
        transform: translateY(calc(100%)) rotate(-90deg);
        bottom: 0; left: 0;
        width: $card-size-enlarged;
        height: $title_size;
        padding: 5px;
    }
    &__tech {
        display: flex;
        padding: 10px;
        gap:10px;
        justify-content: flex-end;
    }
}