@use "./colors-dark.scss";

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  color: colors-dark.$primary-color;
  background: colors-dark.$secondary-color;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.main-section {
  padding: 50px;
  &--scroll-margin {
    scroll-margin-top: 50px;
  }
  &__title {
    text-align: center;
    font-size: 2rem;
    border-top: 3px solid colors-dark.$cta-color;
  }
}


@font-face {
	font-family: 'Fluoxetine';
	src: url('./Assets/fonts/Fluox___.ttf') format('truetype');
}
@font-face {
	font-family: 'Speculum';
	src: url('./Assets/fonts/speculum.ttf') format('truetype');
}