@use "./colors-dark.scss";


// hero header
@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
.hero-header {
  position: relative;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-bottom: 0px;
  &__title {
    font-family: "fluoxetine";
    font-size: 4em;
    span {
      color: #ffffff;
    }
  }
  &__photo {

  }
  &__name {
    font-family: "fluoxetine";
    font-size: 3em;
    color:#ffffff;
  }
  &__job {
    font-size: 2em;
    font-family: "speculum";

  }
  &__tech-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap; // delete if reducing size with breakpoints
    gap: 30px;
    font-size: 4em;
  }
  &__scroll-indicator {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    font-size: 2.5em;
    color: #ffffff;
    overflow: visible;
    animation: bouncing 1s ease 5s infinite alternate;
  }
}

// projects section
.projects {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3,400px);
  grid-auto-rows: masonry;
  gap:50px;
  &__title {
    grid-column: 1 / span 3;
  }

}

// contact section
.contact {
}

// appbar
// long space
.long-space {
  height: 2800px;
}
// biography
.biography {

}