@use "./colors-dark.scss";
@use "sass:color";


// hero header
@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
.hero-header {
  position: relative;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-bottom: 0px;
  &__title {
    font-family: "fluoxetine";
    font-size: 4em;
    span {
      color: #ffffff;
    }
  }
  &__photo {

  }
  &__name {
    font-family: "fluoxetine";
    font-size: 3em;
    color:#ffffff;
  }
  &__job {
    font-size: 2em;
    font-family: "speculum";

  }
  &__tech-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap; // delete if reducing size with breakpoints
    gap: 30px;
    font-size: 4em;
  }
  &__scroll-indicator {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    font-size: 2.5em;
    color: #ffffff;
    overflow: visible;
    animation: bouncing 1s ease 5s infinite alternate;
  }
}

// About section
.about {
  &__title {

  }
  &__article {
    margin: 50px;
    &:first-of-type {
      margin-top: 0;
    }
    padding: 50px;
    border: 2px solid transparent;
    background-color: colors-dark.$primary-color;
    color: colors-dark.$secondary-color;
    &__title {
      font-size: 2.2em;
      text-align: center;
    }
    &__text {
      font-size: 1.4em;
      text-indent: 50px;
      text-align: justify;
      margin: 50px 0;
      strong {
        background-color: #fff;
        font-weight: normal;
      }
      a:hover {
        background-color: #fff;
      }
      &--center {
        text-align: center;
        text-indent: 0;
      }
    }
    &__logo {
      display: flex;
      justify-content: center;
      gap: 50px;
      img {
        filter: drop-shadow(5px 5px 5px colors-dark.$secondary-color);
      }
    }
  }
}

// projects section
.projects {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3,400px);
  grid-auto-rows: masonry;
  gap:50px;
  &__title {
    grid-column: 1 / span 3;
  }

}

// contact section
.contact {
}

// appbar
// long space
.long-space {
  height: 2800px;
}
// biography
.biography {

}