@use "sass:color";


// hero header
@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.hero-header {
  position: relative;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-bottom: 0px;
  &__title {
    font-family: "fluoxetine";
    font-size: 4em;
    span {
      color: var(--free-text-alt-color);
    }
    @media screen and (max-width: 767px) {
        font-size: 2.5em;
    }
  }
  &__photo {

  }
  &__name {
    font-family: "fluoxetine";
    font-size: 3em;
    color: var(--free-text-alt-color);
    @media screen and (max-width: 767px) {
        font-size: 2.5em;
    }
  }
  &__job {
    font-size: 2em;
    font-family: "speculum";
    @media screen and (max-width: 767px) {
        font-size: 1.5em;
    }

  }
  &__tech-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap; // delete if reducing size with breakpoints
    gap: 30px;
    img {
      height: 50px;
      width: auto;
      @media screen and (max-width: 767px) {
        height: 35px;
      }
    }
  }
  &__scroll-indicator {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    font-size: 2.5em;
    color: var(--free-text-alt-color);
    overflow: visible;
    animation: bouncing 1s ease 5s infinite alternate;
    span {
      display: none;
    }
  }
}

// About section
.about {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, auto);
  @media screen and (max-width: 1100px) {
    grid-template-columns: 1fr;
  }
  &__title {
    grid-column: 1 / span 2;
    @media screen and (max-width: 1100px) {
      grid-column: 1 / span 1;
    }
  }
  &__article {
    padding: 50px;
    color: var(--free-text-color);
    &:nth-child(3),&:nth-child(6) {
      background-color: var(--about-background-1);
    }
    &:nth-child(4),&:nth-child(5) {
      background-color:  var(--about-background-2);
    }
    @media screen and (max-width: 1100px) {
      padding: 50px 20px;
      &:nth-child(2),&:nth-child(4) {
        background-color: var(--about-background-1);
      }
      &:nth-child(3),&:nth-child(5) {
        background-color:  var(--about-background-2);
      }
    }
    &__title {
      font-size: 2.2em;
      text-align: center;
    }
    &__text {
      font-size: 1.2em;
      text-indent: 50px;
      margin: 50px 0;
      @media screen and (max-width: 1100px) {
        margin: 20px 0;
        font-size: 1.4em;
      }
      strong {
        background-color: var(--cta-color);
        color: var(--secondary-color);
        font-weight: normal;
      }
      &--center {
        text-align: center;
        text-indent: 0;
      }
    }
    &__logo {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      @media screen and (max-width: 1100px) {
        gap: 20px;
      }
      img {
        filter: drop-shadow(5px 5px 5px var(--secondary-color));
        @media screen and (max-width: 1100px) {
          max-height: 30px;
          width: auto;
        }
      }
    }
    &--centered {
      grid-column: 1/span 2;
      background-color: unset;
      @media screen and (max-width: 1100px) {
        grid-column: 1 / span 1;
      }
    }
  }
}
