
@use "sass:color";

// light yellow color #fce4d8
$light-yellow-color-hue: 20;//#F9CB9C; #bfdbf7 #d7c0d0
$light-yellow-color-sat: 85.7%;
$light-yellow-color-light: 91.8%;
$light-yellow-color: hsl($light-yellow-color-hue,$light-yellow-color-sat,$light-yellow-color-light);
// dark blue color #041D33
$dark-blue-color-hue: 208;
$dark-blue-color-sat: 85.5%;
$dark-blue-color-light: 10.8%;
$dark-blue-color: hsl($dark-blue-color-hue,$dark-blue-color-sat,$dark-blue-color-light);
// 
$cta-color: #06D6A0;
//$effects-color: #3c91e6;

// common colors
:root{
    --primary-color: #{$light-yellow-color};
    --primary-color-hue: #{$light-yellow-color-hue};
    --primary-color-sat: #{$light-yellow-color-sat};
    --primary-color-light: #{$light-yellow-color-light};

    --secondary-color: #{$dark-blue-color};
    --secondary-color-hue: #{$dark-blue-color-hue};
    --secondary-color-sat: #{$dark-blue-color-sat};
    --secondary-color-light: #{$dark-blue-color-light};

    --cta-color: #{$cta-color};
    //--effects-color: #{$effects-color};
}
// themes colors
.theme-dark {
    --background-color: #{$dark-blue-color};
    --section-title-text-color: #ffffff;
    --free-text-color: #{$light-yellow-color};
    --free-text-alt-color: #ffffff;
    --footer-background-color: #{$light-yellow-color};
    --header-background-color: #{hsla($light-yellow-color-hue,$light-yellow-color-sat,$light-yellow-color-light,0.8)};
    --section-title-text-color: #ffffff;
    --card-background-color: #{$light-yellow-color};
    --placeholder-color: #{hsl($light-yellow-color-hue,$light-yellow-color-sat - 30%,$light-yellow-color-light - 20%)};
    --about-background-1: #{hsla(255,255,255,0.1)};
    --about-background-2: #{hsla(255,255,255,0.05)};
    --project-card-background: #{hsla($dark-blue-color-hue,$dark-blue-color-sat,$dark-blue-color-light,0.9)};
    --project-card-text: #{$light-yellow-color};
}

.theme-light {
    $light-blue-color: #{$light-yellow-color};
    --background-color: #{$light-blue-color};
    --section-title-text-color: #{$dark-blue-color};
    --free-text-color: #{$dark-blue-color};
    --free-text-alt-color: #000000;
    --footer-background-color: rgba(255,255,255);
    --header-background-color: rgba(255,255,255,0.8);
    --section-title-text-color: #000000;
    --card-background-color: #ffffff;
    --placeholder-color: #{rgb(180,180,180)};
    --about-background-1: #{hsla(0,0,0,0.1)};
    --about-background-2: #{hsla(0,0,0,0.05)};
    --project-card-background: #{hsla($light-yellow-color-hue,$light-yellow-color-sat,$light-yellow-color-light,0.9)};
    --project-card-text: #{$dark-blue-color};
}
