@use "../ProjectCard/projectCard.scss";

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__wrapper {
    overflow:hidden;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
}