
.theme-toggler {
    position: relative;
    border-radius: 50vh;
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 80px;
    padding: 10px;
    color: var(--primary-color);
    cursor: pointer;
    &::before {
        content: ' ';
        border-radius: 50%;
        position: absolute;
        top:-2px; left:-2px;
        height: 44px; width: 44px;
        background: var(--cta-color);
        transition: transform 0.3s ease;
    }
    &--light::before {
        transform: translateX(40px);
    }
    &--dark::before {
        transform: translateX(0);
    }
}