@use "sass:color";

.appbar {
    position: sticky;
    z-index: 1000;
    top: 0; left: 0;
    background-color: var(--header-background-color);
    backdrop-filter: blur(5px);
    color: #333333;
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    &__menu {
        display: flex;
        align-items: center;
        gap: 50px;
        @media screen and (max-width: 767px) {
            position: absolute;
            top: 100%;
            left: 0;
            transform: translateX(-100%);
            transition: transform 300ms ease;
            flex-direction: column;
            gap: 0;
            background-color: var(--header-background-color);
        }
        &__home {
            font-family: "fluoxetine";
            font-size: 1.2em;
            padding-right: 30px;
            @media screen and (max-width: 767px) {
                padding: 0;
                text-align: center;
            }
        }
        &__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 10px;
            &__icon {
                font-size: 2em;
            }
            &--selected {
                // background-color: colors-dark.$secondary-color;
            }
            &--selected > &__icon {
                color: var(--secondary-color);
            }
        }
        &--visible {
            transform: translateY(0);
        }
    }
}